<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="__STATIC__/img/profile_small.jpg" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{:session('user_info.UserName')}</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{:url('user/logout')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            <li>
                <a href="{:url('index/index')}">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="nav-label">快递管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('express/expressNot')}">上月寄件记录</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('express/expressListNow')}">本月寄件记录</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('express/expressAdd')}">寄件登记</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('record/thisMonth')}">本月派件记录</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('record/recordAdd')}">电脑录单</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('record/recordNot')}">未派出件</a>
                    </li>


                </ul>
            </li>

            <li>
                <a href="mailbox.html"><i class="fa fa-briefcase"></i> <span class="nav-label">快递业务处理</span>
                    <span class="fa arrow"></span>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="mailbox.html">自定义搜索查询</a>
                    </li>
                    <li><a class="J_menuItem" href="http://www.yixintongda.com/">群发短信(旧)</a>
                    </li>
                    <li><a class="J_menuItem" href="http://kdy.kuaidihelp.com/account/login?forward=http%3A%2F%2Fkdy.kuaidihelp.com%2F">群发短信(新)</a>
                    </li>
                    <li><a class="J_menuItem" href="http://www.kuaidi100.com/">快递100-查单网站</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
