{extend name="layoutfather"}
{block name="nav"}
<ul>
    <li>
        <a href="">首页</a>
        <a href="">新闻</a>
        <a href="">联系我们</a>
    </li>
</ul>
{/block}
{block name="info"}
<lu>
        <li href="">ThinkPHP5</li>
        <li href="">ThinkPHP5</li>
        <li href="">ThinkPHP5</li>
        <li href="">ThinkPHP5</li>
</lu>
{/block}
{block name="link"}
<lu>
    <li>
        <a href="http://baidu.com">百度</a>
        <a href="http://qq.com">腾讯</a>
        <a href="http://google.com">谷歌</a>
    </li>
</lu>
{/block}